---
---

@mixin rounded($radius:4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
$varAndProp: #A9B7C6;
.highlight {
  margin-bottom: 1.5em;
  color: #fbf1c7;
  background-color: #282828;
  @include rounded(4px);
  pre {
    position: relative;
    margin: 0;
    padding: 1em;
    overflow-x: auto;
    word-wrap: normal;
    border: none;
    white-space: pre;
    background-color: #282828;
    color: #fbf1c7 !important;
    code {
      white-space: pre;
      color: #fbf1c7;
    }
  }
  pre::-webkit-scrollbar {
    height: 10px;
    background-color: #282828;
    border-radius: 0 0 4px 4px;
  }
  pre::-webkit-scrollbar-thumb {
    background-color: #403c39;
    @include rounded(4px);
  }
  ::selection {
    background-color: #384539;
  }
}
.highlight > pre {
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.highlight,
img,
p > nobr > code,
li > code,
h5 > code,
p > pre,
p > code,
.note > code {
  color: tomato;
  background-color: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.highlighter-rouge{
  padding: 1px 4px;
  border-radius: 3px;
}

/* line numbers */
.lineno{ border-right: dashed 1px #665c54 !important; color: #665c54; padding-right: 5px; padding-left: 0 !important;}

.hll { background-color: #49483e }
.c { color: #928374; font-style: italic; } /* Comment */
.err { color: #fb4934; background-color: #282828; font-weight: bold; } /* Error */
.k { color: #fb4934 } /* Keyword */
.l { color: #d3869b } /* Literal */
.n { color: #fbf1c7 } /* Name */
.o { color: #83a598 } /* Operator */
.p { color: #fbf1c7 } /* Punctuation */
.cm { color: #928374; font-style: italic;} /* Comment.Multiline */
.cp { color: #8ec07c } /* Comment.Preproc */
.c1 { color: #928374; font-style: italic;} /* Comment.Single */
.cs { color: #928374; font-style: italic;} /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #d3869b } /* Keyword.Constant */
.kd { color: #fe8019 } /* Keyword.Declaration */
.kn { color: #81c07c } /* Keyword.Namespace */
.kp { color: #fb4934 } /* Keyword.Pseudo */
.kr { color: #fb4934 } /* Keyword.Reserved */
.kt { color: #fb4934 } /* Keyword.Type */
.ld { color: #b8bb26 } /* Literal.Date */
.m { color: #d3869b } /* Literal.Number */
.s { color: #b8bb26 } /* Literal.String */
.na { color: #fabd2f } /* Name.Attribute */
.nb { color: $varAndProp } /* Name.Builtin */
.nc { color: #fabd2f } /* Name.Class */
.no { color: #d3869b } /* Name.Constant */
.nd { color: #83a598 } /* Name.Decorator */
.ni { color: $varAndProp } /* Name.Entity */
.ne { color: #fabd2f } /* Name.Exception */
.nf { color: #fabd2f } /* Name.Function */
.nl { color: $varAndProp } /* Name.Label */
.nn { color: #bdae93 } /* Name.Namespace */
.nx { color: #fbf1c7 } /* Name.Other */
.py { color: $varAndProp } /* Name.Property */
.nt { color: #8ec07c } /* Name.Tag */
.nv { color: $varAndProp } /* Name.Variable */
.ow { color: #83a598 } /* Operator.Word */
.w { color: #fbf1c7; background-color: #282828; } /* Text.Whitespace */
.mf { color: #d3869b } /* Literal.Number.Float */
.mh { color: #d3869b } /* Literal.Number.Hex */
.mi { color: #d3869b } /* Literal.Number.Integer */
.mo { color: #d3869b } /* Literal.Number.Oct */
.sb { color: #b8bb26 } /* Literal.String.Backtick */
.sc { color: #b8bb26 } /* Literal.String.Char */
.sd { color: #b8bb26 } /* Literal.String.Doc */
.s2 { color: #b8bb26 } /* Literal.String.Double */
.se { color: #fe8019 } /* Literal.String.Escape */
.sh { color: #b8bb26 } /* Literal.String.Heredoc */
.si { color: #b8bb26 } /* Literal.String.Interpol */
.sx { color: #b8bb26 } /* Literal.String.Other */
.sr { color: #b8bb26 } /* Literal.String.Regex */
.s1 { color: #b8bb26 } /* Literal.String.Single */
.ss { color: #83a598 } /* Literal.String.Symbol */
.bp { color: $varAndProp  } /* Name.Builtin.Pseudo */
.vc { color: $varAndProp } /* Name.Variable.Class */
.vg { color: $varAndProp } /* Name.Variable.Global */
.vi { color: $varAndProp } /* Name.Variable.Instance */
.il { color: #d3869b } /* Literal.Number.Integer.Long */

.gh { color: #b8bb26; font-weight: bold;} /* Generic Heading & Diff Header */
.gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.gd { color: #fb4934; background-color: #282828; } /* Generic.Deleted & Diff Deleted */
.gi { color: #b8bb26; background-color: #282828; } /* Generic.Inserted & Diff Inserted */
.l-Scalar-Plain {color: #fbf1c7 }