{% include header.html %}
<style type="text/css">
  .in_prompt {
    color: CornflowerBlue
  }

  .input_area {
    margin-left: 7% !important;
    border: none !important;
    border-radius: 4px !important;
  }

  /* .input_area div.highlighter-rouge {
    background-color: #263238  !important;
  } */
  
  /* div.highlighter-rouge, figure.highlight {
    font-size: 0.675em  !important;
  } */
  .out_prompt {
    color: Crimson
  }

  .output_stream, .output_data_text, .output_traceback_line {
    margin-left: 7% !important;
    border: none !important;
    border-radius: 4px !important;
    /* background-color: #fafafa !important;
    box-shadow: none !important;
    color: #000000  !important;
    font-size: 0.6em !important; */
  }
  
  .output_stream:before, .output_data_text:before, .output_traceback_line:before{
    content: none !important;
  }
  
  /* table.dataframe {
      background-color: #fafafa;
      width: 100%;
      max-height: 240px;
      display: block;
      overflow: auto;
      font-family: Arial, sans-serif;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
  }
  table.dataframe th {
    font-weight: bold;
    padding: 4px;
  }
  table.dataframe td {
    padding: 4px;
  }
  table.dataframe tr:hover {
    background: #b8d1f3;
  } */
  
</style>
    <div class="wrapper">
      <div class="content">
        <div class="container container-center">
          <div class="row">
            <div class="col-md-8 offset-md-1">
              <div class="article">
                <div class="card">
                  <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
                  <div class="post-meta">
                    <div class="post-time">
                      <i class="fa fa-calendar-alt"></i>
                      <time>{{ page.date | date_to_string }}</time>
                    </div>
                    <ul>
                      {% for tag in page.tags %}
                        <li><a href="{{ '/tag/' | append: tag | relative_url }}">{{ tag }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="post-content">
                    {% if page.toc %}
                      {% include toc.html html=content class='toc' %}
                    {% endif %}
                    {{ content }}
                    {% include share.html %}
                  </div>
                  {% if page.comments %}
                  <div id="disqus_thread">
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-md-3 hidden-xs">
              {% include sidebar.html %}
            </div>
          </div>
        </div>
        {% include disqus-comments.html %}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
