/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  background: #282828;
  color: #fbf1c7;
  font-family: $monospace;
  font-size: $type-size-6;
  line-height: 1.8;
  border-radius: $border-radius;

  > pre,
  pre.highlight {
    margin: 0;
    padding: 1em;
  }
  ::selection {
    background-color: #384539;
  }
}

// .highlight,
// img,
// p > nobr > code,
// li > code,
// h5 > code,
// p > pre,
// p > code,
// .note > code {
//   color: tomato;
//   background-color: #333;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   border-radius: 5px;
//   -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
//   -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
//   box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
// }

.highlight table {
  margin-bottom: 0;
  font-size: 1em;
  border: 0;

  td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;

    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      padding-right: 1em;
      width: 1em;
      color: #665c54;
      border-right: 1px solid #665c54;
      text-align: right;
    }

    /* code */
    &.code,
    &.rouge-code {
      padding-left: 1em;
    }
  }

  pre {
    margin: 0;
  }
}

.highlight pre {
  width: 100%;
}

.highlight .hll {
  background-color: #504945;
}
.highlight {
  .c {
    /* Comment */
    color: #928374;
    font-style: italic;
  }
  .err {
    /* Error */
    color: #fb4934;
    background-color: #282828;
    font-weight: bold;
  }
  .k {
    /* Keyword */
    color: #fb4934;
  }
  .l {
    /* Literal */
    color: #d3869b;
  }
  .n {
    /* Name */
    color: #fbf1c7;
  }
  .o {
    /* Operator */
    color: #83a598;
  }
  .p {
    /* Punctuation */
    color: #fbf1c7;
  }
  .cm {
    /* Comment.Multiline */
    color: #928374;
    font-style: italic;
  }
  .cp {
    /* Comment.Preproc */
    color: #8ec07c;
  }
  .c1 {
    /* Comment.Single */
    color: #928374;
    font-style: italic;
  }
  .cs {
    /* Comment.Special */
    color: #928374;
    font-style: italic;
  }
  .gd {
    /* Generic.Deleted */
    color: #fb4934;
    background-color: #282828;
  }
  .ge {
    /* Generic.Emph */
    color: #83a598;
    font-style: italic;
  }
  .gh {
    /* Generic.Heading */
    color: #b8bb26;
    font-weight: bold;
  }
  .gi {
    /* Generic.Inserted */
    color: #b8bb26;
    background-color: #282828;
  }
  .gp {
    /* Generic.Prompt */
    color: #ebdbb2;
    font-weight: bold;
  }
  .gs {
    /* Generic.Strong */
    color: #ebdbb2;
    font-weight: bold;
  }
  .gu {
    /* Generic.Subheading */
    color: #b8bb26;
    font-weight: bold;
  }
  .kc {
    /* Keyword.Constant */
    color: #d3869b;
  }
  .kd {
    /* Keyword.Declaration */
    color: #fe8019;
  }
  .kn {
    /* Keyword.Namespace */
    color: #fb4934;
  }
  .kp {
    /* Keyword.Pseudo */
    color: #fb4934;
  }
  .kr {
    /* Keyword.Reserved */
    color: #fb4934;
  }
  .kt {
    /* Keyword.Type */
    color: #fabd2f;
  }
  .ld {
    /* Literal.Date */
    color: #b8bb26;
  }
  .m {
    /* Literal.Number */
    color: #d3869b;
  }
  .s {
    /* Literal.String */
    color: #b8bb26;
  }
  .na {
    /* Name.Attribute */
    color: #fabd2f;
    font-weight: bold;
  }
  .nb {
    /* Name.Builtin */
    color: #fabd2f;
  }
  .nc {
    /* Name.Class */
    color: #fabd2f;
  }
  .no {
    /* Name.Constant */
    color: #d3869b;
  }
  .nd {
    /* Name.Decorator */
    color: #83a598;
  }
  .ni {
    /* Name.Entity */
    color: #fabd2f;
  }
  .ne {
    /* Name.Exception */
    color: #fabd2f;
  }
  .nf {
    /* Name.Function */
    color: #fabd2f;
  }
  .nl {
    /* Name.Label */
    color: #fb4934;
  }
  .nn {
    /* Name.Namespace bdae93*/
    color: #fbf1c7;
  }
  .nx {
    /* Name.Other */
    color: #fbf1c7;
  }
  .py {
    /* Name.Property */
    color: #fbf1c7;
  }
  .nt {
    /* Name.Tag */
    color: #8ec07c;
  }
  .nv {
    /* Name.Variable */
    color: #ebdbb2;
  }
  .ow {
    /* Operator.Word */
    color: #83a598;
  }
  .w {
    /* Text.Whitespace */
    color: #fbf1c7;
  }
  .mf {
    /* Literal.Number.Float */
    color: #d3869b;
  }
  .mh {
    /* Literal.Number.Hex */
    color: #d3869b;
  }
  .mi {
    /* Literal.Number.Integer */
    color: #d3869b;
  }
  .mo {
    /* Literal.Number.Oct */
    color: #d3869b;
  }
  .sb {
    /* Literal.String.Backtick */
    color: #b8bb26;
  }
  .sc {
    /* Literal.String.Char */
    color: #b8bb26;
  }
  .sd {
    /* Literal.String.Doc */
    color: #b8bb26;
  }
  .s2 {
    /* Literal.String.Double */
    color: #b8bb26;
  }
  .se {
    /* Literal.String.Escape */
    color: #fe8019;
  }
  .sh {
    /* Literal.String.Heredoc */
    color: #b8bb26;
  }
  .si {
    /* Literal.String.Interpol */
    color: #b8bb26;
  }
  .sx {
    /* Literal.String.Other */
    color: #b8bb26;
  }
  .sr {
    /* Literal.String.Regex */
    color: #b8bb26;
  }
  .s1 {
    /* Literal.String.Single */
    color: #b8bb26;
  }
  .ss {
    /* Literal.String.Symbol */
    color: #83a598;
  }
  .bp {
    /* Name.Builtin.Pseudo */
    color: #fbf1c7;
  }
  .vc {
    /* Name.Variable.Class */
    color: #ebdbb2;
  }
  .vg {
    /* Name.Variable.Global */
    color: #ebdbb2;
  }
  .vi {
    /* Name.Variable.Instance */
    color: #ebdbb2;
  }
  .il {
    /* Literal.Number.Integer.Long */
    color: #d3869b;
  }
}

.gist {
  th, td {
    border-bottom: 0;
  }
}